$color-primary: #DC6C6A;
$color-secondary: #1A1C27;
$color-tertiary: #647070;

$color-dark: #000000;
$color-light: #ffffff;

$desktop-small-width: 576px;
$desktop-width: 992px;
$desktop-large-width: 1200px;